## Whisker Menu Theme -- Oranchelo patch ##

style "darkback"
{

 base[NORMAL]		= @menu_bg_color
 text[NORMAL] = @menu_fg_color
 bg[NORMAL] = @menubar_bg_color
 fg[NORMAL] = @menubar_fg_color


}
widget "whiskermenu-window*" style "darkback"







widget_class "*GtkFileChooserWidget.GtkFileChooserDefault.GtkVBox.GtkHPaned.GtkVBox.GtkScrolledWindow.GtkTreeView*" style "sidepane"
